name: Update github-test-a

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'adavis444/github-test-a'
          token: ${{ secrets.PAT }}
      - uses: actions/checkout@v3
        with:
          path: 'subtrees/github-test-b'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update subtrees from ${{ github.repository }}@${{ github.sha }}
          branch: github-actions-update-subtree
          add_options: '--all'
