name: Update github-test-a

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'adavis444/github-test-a'
          submodules: 'recursive'
      - uses: actions/checkout@v3
        with:
          path: 'subtrees/github-test-b'
      - name: Info
        run: |
          echo HOME = $HOME
          echo pwd = $PWD
          echo ls:
          ls
          echo git remotes:
          git remote get-url --all origin
      - name: Update submodules
        run: git submodule update --init --recursive
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          add_options: '--all'
      - name: Update subtrees
        run: git subtree pull --prefix subtrees/github-test-b git@github.com:adavis444/github-test-b main
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          add_options: '--all'
