name: Update github-test-a

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'adavis444/github-test-a'
          token: ${{ secrets.PAT }}
      - uses: actions/checkout@v3
        with:
          path: 'subtrees/github-test-b'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.PAT }}
          commit-message: |
            Subtree update from ${{ github.repository }}@${{ github.sha }}

            [create-pull-request] automated change
          delete-branch: true
